$app-orange-color: #d84315;
$app-gray-color: #666666;
$app-gray-light-color: #aeb7c0;
$app-gray-dark-color: #434343;
$app-blue-dark-color: #334960;
$app-background-row-color: #fff8f8;
$app-positive-color: #0b8043;
$app-negative-color: #f44336;
