<nav class="navbar is-dark" *ngIf="isAuthenticated" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/projects">
        <img [src]="'assets/finance.svg'" alt="finance">
        <span translate>APP NAME</span>
      </a>
      <a role="button" class="navbar-burger" (click)="burger = !burger" [class.is-active]="burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" [class.is-active]="burger">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/projects" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span translate>MainMenu.Projects</span>
        </a>
        <a class="navbar-item" href="#" (click)="$event.preventDefault(); openModal()">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span translate>MainMenu.NewProject</span>
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon">
              <i class="fas fa-user"></i>
            </span>
            <span>{{ user }}</span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/profile" routerLinkActive="is-active">
              <span class="icon">
                <i class="fas fa-id-card"></i>
              </span>
              <span translate>MainMenu.Profile</span>
            </a>
            <a class="navbar-item" *ngIf="isAdmin" routerLink="/users" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
              <span class="icon">
                <i class="fas fa-users"></i>
              </span>
              <span translate>MainMenu.Users</span>
            </a>
            <a class="navbar-item" *ngIf="isAdmin" routerLink="/users/create" routerLinkActive="is-active">
              <span class="icon">
                <i class="fas fa-user-plus"></i>
              </span>
              <span translate>MainMenu.NewUser</span>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="#" (click)="$event.preventDefault(); onLogout()">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span translate>MainMenu.Logout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
