<article *ngIf="isMessage" class="message is-success">
  <div class="message-body" translate>Users.Form.ChangePassword.Message</div>
</article>
<article *ngIf="isError" class="message is-danger">
  <div class="message-body" translate>Users.Form.ChangePassword.Error</div>
</article>
<form [formGroup]="form$">
  <div class="field">
    <label class="label required" for="currentPassword" translate>Users.Form.CurrentPassword</label>
    <div class="control">
      <input type="password" id="currentPassword" [class.is-danger]="isInvalid('currentPassword')" class="input" placeholder="{{ 'Users.Form.CurrentPassword' | translate }}" formControlName="currentPassword">
    </div>
  </div>
  <div class="field">
    <label class="label required" for="newPassword" translate>Users.Form.NewPassword</label>
    <div class="control">
      <input type="password" id="newPassword" [class.is-danger]="isInvalid('newPassword')" class="input" placeholder="{{ 'Users.Form.NewPassword' | translate }}" formControlName="newPassword">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-app-submit" (click)="submit()" [disabled]="isSubmit" translate>Users.Form.ChangePasswordButton</button>
    </div>
  </div>
</form>
